<div class="w-full">
  <mat-tab-group mat-align-tabs="start ">
    <mat-tab label="Transaction List">
      <app-transaction-list></app-transaction-list>
    </mat-tab>
    <mat-tab label="Invoices">
      <app-invoices></app-invoices>
    </mat-tab>
    <mat-tab label="Payments">
      <app-payments></app-payments>
    </mat-tab>
    <mat-tab label="Credit Notes">
      <app-credit-notes></app-credit-notes>
    </mat-tab>
    <mat-tab label="Bond Payment">
      <app-bond-payment></app-bond-payment>
    </mat-tab>
    <mat-tab label="Age Debators">
      <app-age-debtors></app-age-debtors>
    </mat-tab>
  </mat-tab-group>
</div>